<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SY</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <!--아이콘 키-->
    <script src="https://kit.fontawesome.com/4fb73240ec.js" crossorigin="anonymous"></script>

</head>
<body>
{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요.</h1>
                <br/>
                <p class="lead">
                    저와 저희 집 강아지를 소개합니다.<br/>

                </p>

                <ul>
                    <li>WORK EXPERIENCE</li>
                    <ul>
                        <li>그래픽 알리다</li>
                        <li>반려견 미용</li>
                    </ul>
                    <li>EDUCATION & CERTIFICATE</li>
                    <ul>
                        <li>컴퓨터공학과, 제주대대학교 (2008.03~2012.02)</li>
                        <li>정보리기사</li>
                        <li>사무자동화산업기사</li>
                        <li>웹디자인기능사</li>
                        <li>워드프로세서</li>
                    </ul>

                </ul>

            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>우리집 강아지</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#danb">
                    <img class="card-img-top" src="{% static 'one_pages/images/danb.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">단비 (5살)</h5>
                        <p>수영, 공놀이, 흥분하기 등 세상 모든것을 좋아합니다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#kko">
                    <img class="card-img-top" src="{% static 'one_pages/images/kko.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">똥꼬(10살)</h5>
                        <p>잠자기, 눈치보기, 자기를 이뻐해 주는 사람을 잘 찾아 갑니다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#dalrae">
                    <img class="card-img-top" src="{% static 'one_pages/images/dalrae.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">달래(6살)</h5>
                        <p>오직 공놀이만 좋아합니다.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="danb" tabindex="-1" role="dialog" aria-labelledby="danbModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="danbModalLabel">단비 소개하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'one_pages/images/danb.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <h5>단비</h5><br>
                        <h6>나이 : 5살</h6><br>
                        <h6>견종 : 래브라도 리트리버</h6><br>
                        <h6>좋아하는 것 : </h6>
                        <p>수영, 공놀이, 모든 좋아하는 것들을 보면 흥분하기, 먹는것을 엄청 좋아한다.</p>
                        <h6>싫어하는 것 :</h6>
                        <p>똥꼬만 이뻐하면 질투가 심하다.</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kko" tabindex="-1" role="dialog" aria-labelledby="kkoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kkoModalLabel">똥꼬 소개하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'one_pages/images/kko.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <h5>똥꼬</h5><br>
                        <h6>나이 : 10살</h6><br>
                        <h6>견종 : 미니어쳐슈나우져</h6><br>
                        <h6>좋아하는 것 : </h6>
                        <p>잠자기, 자기를 이뻐해주는 사람을 찾아가서 애교피기</p>
                        <h6>싫어하는 것 :</h6>
                        <p>단비가 흥분해서 핥아줄때 엄청 싫어한다. 수영하기 싫어한다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dalrae" tabindex="-1" role="dialog" aria-labelledby="dalraeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dalraeModalLabel">달래 소개하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'one_pages/images/dalrae.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <h5>달래</h5><br>
                        <h6>나이 : 6살</h6><br>
                        <h6>견종 : 울프세퍼트</h6><br>
                        <h6>좋아하는 것 : </h6>
                        <p>오직 공놀이만 좋아한다.</p>
                        <h6>싫어하는 것 :</h6>
                        <p>공이 눈앞에 없을때 불안해 한다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>